version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps"
    open-pull-requests-limit: 10
    groups:
      rollup:
        patterns:
          - "@rollup/*"
          - "rollup"
      eslint:
        patterns:
          - "@eslint/*"
          - "eslint"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "ci"
