name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_call:

jobs:
  ci:
    uses: sgnl-actions/.github/.github/workflows/ci.yml@1780126e2605c69733f54ff7271b0cb4c8acf326 # v1.1.0
