name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    uses: sgnl-actions/.github/.github/workflows/ci.yml@30e8bcb7c4c7543d249f6fde73eb8b38901899f2 # v1.2.0
